.service-image {
    height: 100vh;
    z-index: -1;
  }

  .card {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

.p-title {
  font-weight: 700;
}

.service-title {
  text-align: left;
  padding: 10px 0px 10px 122px;

}

.service-title-two {
  padding: 10px 0px 10px 269px;
}

.services_title {
    color: white;
    font-size: 25vh;
    position: absolute;
    right: 15px;
}

.service-type-section {
  margin-top: 70px;
}

.serviceImg {
  position: absolute;
  background-position: center;
  margin: 30px 0px 0px 0px;
  background-size: cover;
  max-width: 100%;
  height: auto;
  height: 527px;
  z-index: 1;
  width: 100%;
}

.serviceImgLaborSupport {
  position: absolute;
  background-position: center;
  margin: 101px 0px 0px 155px;
  background-size: cover;
  max-width: 100%;
  height: auto;
  height: 527px;
  z-index: 1;  
}

.serviceImgPrenatal {
  position: absolute;
  background-position: center;
  margin: 101px 0px 0px 155px;
  background-size: cover;
  max-width: 100%;
  height: auto;
  height: 527px;
  z-index: 1;
}

.service-image-container {
  position: relative;
}

.service-text-container {
  text-align: center;
  margin: 6vh;
  border-bottom: solid 1px;
  padding-bottom: 30px;
}

  .service-text-container {
    font-weight: 300;
    font-size: 20px;
  }

  @media only screen and (max-width: 750px) {
      .services_title {
        font-size: 15vh;
        right: 20px;
      }
  }

  @media only screen and (max-width: 400px) {
      .services_title {
        font-size: 15vh;
        right: 20px;
      }
  }