.footer {
  /* position: sticky; */
  background: rgba(255,255,255,1);
  height: 13vh;
  padding: 12px;
  color: white;
  box-shadow: 0 8px 6px -6px black;
}

.footer-left {
  color: black;
  float: left;
  margin-top: 6px;
  text-align: center;
}
.icon-container-footer i:hover {
  color: #013240;
}

.icon-container-footer {
  display: flex;
  color: black;
  text-align: center;
  justify-content: center;
  text-align: center;
}
.icon-container-footer i {
  margin-right: 10px;
  color: black;
  transition: 0.4s;
}

@media only screen and (max-width: 600px) {
  .footer {
    position: sticky;
    height: 21vh;
    padding: 12px;
    color: white;
  }
}