html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  src: url('/fonts/Prestige-Signature-Script.ttf');
  font-family: "Prestige Signature Script";
}

h1 {
  font-family: "Prestige Signature Script";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
