.navbar {
  position: fixed;
  width: 100%;
  z-index: 200;
}

.navbar-nav {
    flex-direction: row;
}
.desktop_links {
  flex-direction: row;
  column-gap: 10px;
  color: rgba(0, 0, 0, 0.55);
}

.desktop_links > a:hover {
  color: black;
}

.navbar-toggler {
    display: none;
}

.logo-nav > img {
  width: 12vh;
  top: 2px;
  height: 42px;
  position: relative;
}

.nav-link {
  margin: 0 5px 0 5px;
  color: rgba(0, 0, 0, 0.55);
}

.nav-link:hover {
  color: #013240;

}

.navbar-link-container {
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 830px) {
  .navbar-toggler {
      display: block;
      border: none;
  }
  .desktop_links {
      display: none;
  }
}