.navbar {
  position: fixed;
  width: 100%;
  z-index: 200;
}

.navbar-nav {
    flex-direction: row;
}
.desktop_links {
  flex-direction: row;
}

.navbar-toggler {
    display: none;
}

.navbar > .logo-nav {
  position: absolute;
  width: 12vh;
  top: 1px;
}

.nav-link {
  margin: 0 5px 0 5px;
  color: black;
}

.nav-link:hover {
  color: #013240;

}

.navbar-link-container {
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 830px) {
  .navbar-toggler {
      display: block;
  }
  .desktop_links {
      display: none;
  }
}